@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>淘宝券详情管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-3">
                                <#NameCon id="condition" name="名称" />
                            </div>
                            <div class="col-sm-3">
                                <#button name="搜索" icon="fa-search" clickFun="Detail.search()"/>
                            </div>
                        </div>
                        <div class="hidden-xs" id="DetailTableToolbar" role="group">
                            @if(shiro.hasPermission("/detail/add")){
                                <#button name="添加" icon="fa-plus" clickFun="Detail.openAddDetail()"/>
                            @}
                            @if(shiro.hasPermission("/detail/update")){
                                <#button name="修改" icon="fa-edit" clickFun="Detail.openDetailDetail()" space="true"/>
                            @}
                            @if(shiro.hasPermission("/detail/delete")){
                                <#button name="删除" icon="fa-remove" clickFun="Detail.delete()" space="true"/>
                            @}

                            <#button name="批量添加" icon="fa-upload" clickFun="Detail.upload()" space="true"/>
                        </div>
                        <#table id="DetailTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/taobao/detail/detail.js"></script>
@}

